<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Entities.KvizZnanjaModel.csdl|res://*/Entities.KvizZnanjaModel.ssdl|res://*/Entities.KvizZnanjaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.147.204.119\PISERVER,1433;initial catalog=PI21-24_DB;user id=PI21-24_User;password=t64Nn{EY;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KvizEntities" connectionString="metadata=res://*/Entities.KvizModel.csdl|res://*/Entities.KvizModel.ssdl|res://*/Entities.KvizModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.147.204.119\PISERVER,1433;initial catalog=PI21-24_DB;user id=PI21-24_User;password=t64Nn{EY;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KvizEntities1" connectionString="metadata=res://*/Entities.KvizModel.csdl|res://*/Entities.KvizModel.ssdl|res://*/Entities.KvizModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.147.204.119\PISERVER,1433;initial catalog=PI21-24_DB;user id=PI21-24_User;password=t64Nn{EY;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KvizZnanjaEntities" connectionString="metadata=res://*/Enitities.KvizZnanjaModel.csdl|res://*/Enitities.KvizZnanjaModel.ssdl|res://*/Enitities.KvizZnanjaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.147.204.119\PISERVER,1433;initial catalog=PI21-24_DB;user id=PI21-24_User;password=t64Nn{EY;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>